
@model WebApplication1.Cliente

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SuperSonido</title>
    <link href="~/Scripts/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Scripts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Scripts/css/prettyPhoto.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/css/jquery-ui.css">
    <link href="~/Scripts/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Scripts/css/rating.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="~/Scripts/css/customStyle.css">
</head>
<!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">

    <!--/#header-->

    <section id="main-slider" class="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="container">
                    <div class="carousel-content">
                        <h1>SuperSonido</h1>
                        <p class="lead">¡Regístrate en menos de un minuto!</p>
                        <p class="lead">¡Valora tus discos favoritos y comprueba cuáles son los mejores para el resto!</p>
                    </div>
                </div>
            </div>
            <!--/.item-->
        </div>
        <!--/.carousel-inner-->
    </section>
    <!--/#main-slider-->

    <section id="services">
        <div class="container">
            <div class="box first">
                <div id="containerData">
                     @using (Html.BeginForm("Login","Account"))
                     {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal col-md-12">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4" style="height: 34px;">
                                    @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-6" style="text-align: center; margin-top: 10px;">
                                    <input type="submit" value="Login" class="btn btn-default" />
                                </div>
                                <div class="col-md-6" id="teclado" style="text-align:center;">
                                </div>
                            </div>
                        </div>
                     }
                </div>
                <!--/.row-->
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>
    <!--/#services-->

    <section id="portfolio">
        <div class="container">
            <div class="box">
                <div class="center gap">
                    <h2>¡Tu base de datos de disco favorita!</h2>
                    <p class="lead">Regístrate <strong>gratuitamente</strong> y disfruta de todos nuestros servicios.</p>
                    <p class="lead">Busca tus discos favoritos y menos favoritos y puntúalos.</p>
                    <p class="lead">Comprueba cuáles son los discos que más gustan a la gente (:D) y los que menos (D:).</p>
                </div>
                <!--/.center-->
                
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>
    <!--/#portfolio-->

    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <img class="pull-right" src="~/Scripts/images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap">
                </div>
            </div>
        </div>
    </footer>
    <!--/#footer-->
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/jquery-ui.js"></script>
    <script src="~/Scripts/js/jquery.isotope.min.js"></script>
    <script src="~/Scripts/js/jquery.prettyPhoto.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    <script src="~/Scripts/js/custom.js"></script>
    <script>
        crearTecladoVirtual();
    </script>
</body>

</html>
